/* HomeScreen */

body {
    margin:0;
    padding:0;
    background-color:white;
    background-image: url(../img/launcher/backgrounds/01.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    font-family: 'muktaregular';
    color: white;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:80%;
    align-items: center;
    justify-content: center;
} 

#clock {
    font-size: 10em;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0;
}

#date {
    margin: 0;
    font-size: 4em;
    width: 100%;
    text-align: center;
}

#exploreBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 7.5%;
    height: 80%;
    border-radius: 0 1500% 1500% 0;
    color: white;
    font-family: 'muktaregular';
    text-align: center;
}

#exploreBtn:hover {
    background-color: rgba(60, 60, 60, 0.5);
}

#exploreBtn i {
    text-align: center;
    width: 100%;
    font-size: 4em;
}

#appsBtn  {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 7.5%;
    height: 80%;
    border-radius: 1500% 0 0 1500%;
    color: white;
    font-family: 'muktaregular';
    text-align: center;
}

#appsBtn:hover {
    background-color: rgba(60, 60, 60, 0.5);
}

#appsBtn i {
    text-align: center;
    width: 100%;
    font-size: 4em;
}

#favoriteAppsZone {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    align-self: flex-end;
}

.favoriteAppShortcut {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1.5%;
    margin-left: 3%;
    margin-right: 3%;
}

.favoriteAppShortcut:hover {
    background-color: rgba(60, 60, 60, 0.5);
}

.favoriteAppShortcut i {
    color: white;
    font-size: 2.5em;
}

/* Explore */

#explorePane {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: row;
}

#exploreContent {
    width: 92.5%;
    display: flex;
    align-self: top;
}

#exploreHeader {
    display: flex;
    width: 100%;
    height: 20%;
    margin: 5%;
    flex-direction: row;
    align-items: center;
}

#exploreContent #exploreHeader h1 {
    font-family: 'muktaregular';
    color: white;
    font-size: 4em;
    width: 75%;
}

#exploreHomeBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 7.5%;
    height: 80%;
    border-radius: 1500% 0 0 1500%;
    color: white;
    font-family: 'muktaregular';
    text-align: center;
    align-self: center;
}

#exploreHomeBtn:hover {
    background-color: rgba(60, 60, 60, 0.5);
}

#exploreHomeBtn i {
    text-align: center;
    width: 100%;
    font-size: 4em;
}

.exploreQuickAction {
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 50%;
}

.exploreQuickAction:hover {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(50, 50, 50, 0.5);
}

.exploreQuickAction i {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 4em;
}

#exploreQuickActions {
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
}

/* Apps */

#appsPane {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: row;
}

#appsContent {
    width: 92.5%;
    display: flex;
    align-self: top;
}

#appsHeader {
    display: flex;
    width: 100%;
    height: 20%;
    margin: 5%;
    flex-direction: row;
    align-items: center;
}

#appsContent #appsHeader h1 {
    font-family: 'muktaregular';
    color: white;
    font-size: 4em;
    width: 100%;
    text-align: right;
}

#appsHomeBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 7.5%;
    height: 80%;
    border-radius: 0 1500% 1500% 0;
    color: white;
    font-family: 'muktaregular';
    text-align: center;
    align-self: center;
}

#appsHomeBtn:hover {
    background-color: rgba(60, 60, 60, 0.5);
}

#appsHomeBtn i {
    text-align: center;
    width: 100%;
    font-size: 4em;
}

/* Application Executor */

#applicationExecutor {
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    bottom: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#quitAppBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 7.5%;
    width: 80%;
    border-radius: 0 0 1500% 1500%;
    color: white;
    font-family: 'muktaregular';
    text-align: center;
    align-self: top;
}

#quitAppBtn:hover {
    background-color: rgba(60, 60, 60, 0.5);
}

#quitAppBtn i {
    text-align: center;
    width: 100%;
    font-size: 3em;
}